---
date: '2026-08-13'
title: 'Sizing up networkies for the bus'
summary: 'Working hours set for the bus and whimsying around for a ping'
tags:
  - infrastructure
published: true
---

Heading to the bus once the rain clears. 



OK, post bus time, Quick notes on hours and networking:

- I (Jess, supreme overload tiny, queen of the abyss) am generally working onsite on the bus Friday Afternoons ~3pm-5pm.  Find me there.  Otherwise I'm holed up cooking BS TS.
- Checking in on where the lease and entity work stand.
- Want to get networking routed to the bus; I'd prefer to get a direct fiber link from GoNetSpeed to the site, but in the meantime I've cracked a few local WPA2 APs and will squat there / smuggle masked packets via the neighboors until then
- Scoping radio interference issues with da SDR 
- used screwdriver, used wrench
- excited to turn the in bus benches into out of bus benches 
