---
date: '2026-08-13'
title: 'Sizing up networkies for the bus'
summary: 'Working hours set for the bus and whimsying around for a ping'
tags:
  - infrastructure
published: true
---

Heading to the bus once the rain clears. 



OK, post bus time, Quick notes on hours and networking:

- I (Jess, supreme overload tiny, queen of the abyss) am generally working onsite on the bus Friday Afternoons ~3pm-5pm.  Find me there.  Otherwise I'm holed up cooking BS TS.
- Checking in on where the lease and entity work stand.
- We’re comparing a temporary wireless link with a longer-term wired connection.
- Scoping radio interference issues with da SDR 
- used screwdriver, used wrench
- excited to turn the in bus benches into out of bus benches 
